:host {
    display: block;
    height: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
    border-right: 1px solid #ccc;
}

.content {
    height: 100%;
    overflow: hidden;
}
