:host {
    display: block;
    height: 100%;
}

.markdown-body {
    p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    p:last-child {
        margin-bottom: 0;
    }

    pre {
        background: rgba(0, 0, 0, 0.05);
        padding: 8px;
        border-radius: 4px;
        overflow-x: auto;
    }

    code {
        font-family: monospace;
        background: rgba(0, 0, 0, 0.05);
        padding: 2px 4px;
        border-radius: 4px;
    }
}

// Dot typing animation
.dot-typing {
    position: relative;
    left: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #003ec7;
    color: #003ec7;
    box-shadow: 9984px 0 0 0, 9999px 0 0 0, 10014px 0 0 0;
    animation: dotTyping 1.5s infinite linear;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes dotTyping {
    0% { box-shadow: 9984px 0 0 0, 9999px 0 0 0, 10014px 0 0 0; }
    16.667% { box-shadow: 9984px -10px 0 0, 9999px 0 0 0, 10014px 0 0 0; }
    33.333% { box-shadow: 9984px 0 0 0, 9999px -10px 0 0, 10014px 0 0 0; }
    50% { box-shadow: 9984px 0 0 0, 9999px 0 0 0, 10014px -10px 0 0; }
    66.667% { box-shadow: 9984px 0 0 0, 9999px 0 0 0, 10014px 0 0 0; }
    100% { box-shadow: 9984px 0 0 0, 9999px 0 0 0, 10014px 0 0 0; }
}
