<div class="thread-list-header">
    <h3>History</h3>
    <button mat-stroked-button color="primary" (click)="newChat()" class="new-chat-btn">
        <mat-icon>add</mat-icon>
        New Chat
    </button>
</div>

<mat-nav-list class="thread-nav-list">
    <a mat-list-item *ngFor="let thread of threads$ | async" [routerLink]="['chat', thread.thread_id]"
        routerLinkActive="active-thread" [style.--thread-color]="thread.color || '#3f51b5'"
        (click)="audioService.playChangeThread()" [title]="thread.title || 'New Chat'">
        <div matListItemTitle>{{ thread.title || 'New Chat' }}</div>
        <div matListItemLine>{{ thread.created_at | date:'short' }}</div>

        <div matListItemMeta class="thread-actions" style="display: flex; align-items: center;">
            <button mat-icon-button (click)="editThread($event, thread)">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </a>
</mat-nav-list>
